.datatable {
	border-collapse: separate;
	border-spacing: 0;
	border-color: #eee;
}

.datatable th {
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
}

.datatable td {
	border-bottom-width: 1px;
	border-right-width: 1px;
}
