.link {
	position: relative;
	font-weight: 500;
}

.link::after {
	transition: background 200ms;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	border-radius: 2px;
	background: rgb(238, 239, 241);
	position: absolute;
	bottom: 0px;
	left: 0px;
}
