@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light-background: #f5f5f5; /* Light Ash Gray - background for light mode */ /* Ash Gray - background */ /* Cream - background base */
	--primary-text: #333333; /* Charcoal - primary text */
	--secondary-text: #808080; /* Ash Gray - secondary text */
	--input-border: #b1b1b1; /* Slightly darker Ash Gray for better contrast */
	--primary-button-bg: #109898; /* Teal - primary button color */
	--button-text-color: #ffffff; /* White - button text */
	--card-bg: #ffffff; /* White - card background */ /* Charcoal - card background */ /* White - card background */
	--hover-bg: #007c7c; /* Teal - hover state for button */
	--focus-border: #ffc238; /* Soft Yellow - focus state */
	--link-color: #ff9000; /* Soft Yellow - links */
	--link-hover-color: #ff6c00; /* Deeper Soft Yellow for link hover */
	--font-family: 'Suisse', sans-serif;
}

.radix-themes {
	--default-font-family: var(--font-family);
	--heading-font-family: var(--font-family);
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--pressable-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
			rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
			rgba(64, 68, 82, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
			rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(64, 68, 82, 0.08) 0px 2px 5px 0px;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-zinc-400/30 border-collapse;
	}
	body {
		@apply bg-background text-foreground;
	}
}

* {
	@apply border-zinc-400/30 border-collapse;
}

.material .select-shadow {
	box-shadow:
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
		rgba(64, 68, 82, 0.16) 0px 0px 0px 1px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(64, 68, 82, 0.08) 0px 2px 5px 0px;
}

.pressable-shadow {
	box-shadow:
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
		rgba(64, 68, 82, 0.16) 0px 0px 0px 1px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(64, 68, 82, 0.08) 0px 2px 5px 0px;
}

.elevated-shadow {
	box-shadow:
		0 1px 2px rgba(0, 0, 0, 0.02),
		0 1px 3px rgba(0, 0, 0, 0.06),
		0 4px 8px rgba(0, 0, 0, 0.06),
		0 0 0 1px rgba(64, 68, 82, 0.08);
}

.tag {
	@apply font-medium h-[20px] rounded-md flex items-center px-2 pressable-shadow text-[13px];
}

.button {
	@apply flex items-center gap-2 px-4 rounded-md pressable-shadow h-[28px] font-medium text-zinc-900;
}

.table-link {
	position: relative;
}

.table-link::after {
	transition: background 200ms;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	border-radius: 2px;
	background: rgb(238, 239, 241);
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.react-aria-DateField {
	color: var(--text-color);
}

.react-aria-DateInput {
	display: flex;
	padding: 4px;
	border: 1px solid var(--border-color);
	border-radius: 6px;
	background: var(--field-background);
	width: fit-content;
	min-width: 150px;
	white-space: nowrap;
	forced-color-adjust: none;

	&[data-focus-within] {
		outline: 2px solid var(--focus-ring-color);
		outline-offset: -1px;
	}
}

.react-aria-DateSegment {
	padding: 0 2px;
	font-variant-numeric: tabular-nums;
	text-align: end;
	color: var(--text-color);

	&[data-type='literal'] {
		padding: 0;
	}

	&[data-placeholder] {
		color: var(--text-color-placeholder);
		font-style: italic;
	}

	&:focus {
		color: var(--highlight-foreground);
		background: var(--highlight-background);
		outline: none;
		border-radius: 4px;
		caret-color: transparent;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.rt-TabNavRoot {
	border: none !important;
}
