@font-face {
  font-family: "Suisse";
  src: url(/fonts/be230da46064a840-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url(/fonts/c0251deeb6c8aa9d-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url(/fonts/8ddc523e4ee4461f-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Suisse";
  src: url(/fonts/b58f3ea995b405bd-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url(/fonts/7fb36c07fe01a5cf-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: "Suisse";
  src: url(/fonts/888c47c2423685c0-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url(/fonts/1b49dac45dc2fd31-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Suisse";
  src: url(/fonts/14f9a03c01a4c1e7-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url(/fonts/4dcb3954a328d9c0-s.p.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: sans-serif;
  src: local("Arial");
  ascent-override: 95.68%;
  descent-override: 30.18%;
  line-gap-override: 0%;
  size-adjust: 103.05%;
}
